.widget{
    flex: 0.3;
    min-width: fit-content;
    overflow-y: scroll;
}

/*For IE, Edge and Firefox*/
.widget::-webkit-scrollbar{
    display: none;
}

.widget{
    -ms-overflow-style: none;/*IE and Edge*/
    scrollbar-width: none;/*Firefox*/
}
.widget__input{
    display: flex;
    align-items: center;
    background-color: var(--twitter-background);
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
    position: sticky; 
    top: 0;
    z-index: 100;
}
.widget__input > input{
    border: none;
    background-color: var(--twitter-background);
}
.widget__searchIcon{
    color: gray;
}
.widget_widgetContainer{
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    background-color:  #f5f8fa;
    border-radius: 20px;
}
.widget_widgetContainer > h2{
    font-size: 18px;
    font-weight: 800;
}